.App-header {

    display: flex;

    justify-content: center;
    align-items: center;
    gap: 200px;
    min-height: 80vh;
    color: #fff;


}

.App-header h1 {
    font-size: 80px;
}

.App-header h2 {
    font-weight: 300;
}

.App {
    background-color: #365470;
    min-height: 100vh;

}

.heroImg {
    width: 750px;
}

.btn-container {
    display: flex;
    gap: 20px;
}